<section class="mt-5 container-fluid home-catchline text-center">
    <h2 class=" p-3">Découvrez des animaux étonnant, que vous ne verrez nul part ailleurs</h2>
    <img class="lion" src="{{ asset('build/images/simba.png') }}" alt="simba" />
</section>
