{% extends 'base.html.twig' %}

{% block title %}Hello AnimalController!{% endblock %}

{% block body %}
    <main class="container-fluid">
        <h1>{{ animal.name }}</h1>
        <p>{{ animal.description }}</p>
    </main>
{% endblock %}
