{% extends 'base.html.twig' %}

{% block title %}Activity index{% endblock %}

{% block body %}
    <main class="container-fluid">

    <h1>Activity index</h1>

    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.name }}</td>
                <td>
                    <a class="btn btn-outline-primary" href="{{ path('admin_activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="btn btn-primary" href="{{ path('admin_activity_new') }}">Ajouter une activité</a>
    </main>

{% endblock %}
