{% extends 'admin_layout.html.twig' %}

{% block title %}Wild Zoo Admin | Index Activités{% endblock %}

{% block body %}
    <div class="d-flex justify-content-between">
        <h1>Administrer une activité</h1>
        <a class="align-self-end btn btn-primary" href="{{ path('admin_activity_new') }}">Ajouter une activité</a>
    </div>

    <table class="mt-5 table table-hover">
        <thead class="table-primary text-light">
        <tr>
            <th>Activity</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        {% for activity in activities %}
            <tr>
                <td>{{ activity.name }}</td>
                <td class="text-right">
                    <a class="btn btn-outline-primary" href="{{ path('admin_activity_edit', {'id': activity.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="4">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a class="mt-4 btn btn-primary" href="{{ path('admin_activity_new') }}">Ajouter une activité</a>

{% endblock %}
