{% extends 'admin_layout.html.twig' %}
{% form_theme form 'bootstrap_4_layout.html.twig' %}

{% block title %}Ajouter Activité{% endblock %}

{% block body %}
    <main class="container">
        <h1 class="mb-4">Ajouter une activité</h1>

        {{ include('admin_activity/_form.html.twig') }}

        <a class="mt-4 btn btn-outline-primary" href="{{ path('admin_activity_index') }}">Retour</a>
    </main>
{% endblock %}
