@import 'header';

.animals {
  .card {
    border: 0;
    text-align: center;
    position: relative;
    --card-height: 400px;
    --card-body-height: 70px;
    height: calc(var(--card-height) + var(--card-body-height));

    .btn {
      display: none;
    }

    img {
      object-fit: cover;
      height: calc(var(--card-height));
    }

    .card-body {
      height: var(--card-body-height);

      h3 {
        text-transform: capitalize;
        font-size: $font-size;
      }
    }

    &:hover {
      .card-body {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        position: absolute;
        width: 100%;
        height: calc(var(--card-height));
        background-color: transparentize($dark, 0.2);
        color: $light;
        font-weight: bold;

        .btn {
          display: block;
        }
      }
    }
  }


  .autocomplete-input {
    position: relative;


    .autocomplete {
      width: 100%;
      &:empty {
        display: none;
      }
      ul {
        list-style: none;
        padding:8px;

      }
      position: absolute;
      z-index: 1;
      background-color: transparentize($secondary-color, 0.3);
      padding:8px;
      top:40px;
    }
  }

}
