<footer class="p-5 container-fluid footer">
    <div class="row">
        <div class="col-sm-6 d-flex justify-content-center  flex-column">
            <div class="">
                <address>
                    WildZoo<br/>
                    12, rue du zoo 12345 Zooville, France
                </address>
                <a class="btn btn-outline-light" href="{{ path('contact')}}">Contact</a>
            </div>

            <nav class="row pt-5">
                <div class="col-6 d-flex flex-column">
                    <a href="#">Le parc</a>
                    <a href="#">Nos animaux</a>
                    <a href="#">Nos activités</a>
                </div>
                <div class="col-6 d-flex flex-column">
                    <a href="#">Nous rejoindre</a>
                    <a href="#">Mentions légales</a>
                </div>
            </nav>
        </div>
        <div class="col-sm-6 d-flex justify-content-center align-items-center flex-column">
            {% include 'includes/_map.html.twig' %}
        </div>
    </div>
</footer>
