<div class="col-md-4 col-sm-6">
    <a href="#">
        <figure class="card">
            <figcaption class="card-body">
                <h3>{{ activity.name }}</h3>
                <button class="btn btn-outline-secondary">Voir plus</button>
            </figcaption>
        </figure>
    </a>
</div>
