{% extends 'layout.html.twig' %}

{% block title %}Wild Zoo | Nos activités{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    {{ encore_entry_link_tags('animals') }}
{% endblock %}

{% block body %}
    <main class="container-fluid animals">
        <h1 class="my-2">Nos activités</h1>
        <div class="row">
            {% for activity in activities %}
                {% include 'activity/_card.html.twig' %}
            {% endfor %}
        </div>
        <a class="btn btn-outline-primary" href="{{ path('home') }}">Retour</a>
    </main>
{% endblock %}
